*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif;
}

body{
  background:#050505;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:#fff;
}

.card{
  width:340px;
  background:linear-gradient(180deg,#111,#050505);
  border:1px solid #C89B00;
  border-radius:24px;
  padding:24px;
  text-align:center;
  box-shadow:0 0 30px rgba(200,155,0,.2);
}

.logo{
  font-size:34px;
  margin-bottom:10px;
}

h2{
  color:#F4C842;
  font-size:28px;
}

.sub{
  color:#ddd;
  margin:8px 0 18px;
}

.circle{
  width:190px;
  height:190px;
  margin:auto;
  position:relative;
}

svg{
  width:190px;
  height:190px;
  transform:rotate(-90deg);
}

.bg{
  fill:none;
  stroke:#2d2d2d;
  stroke-width:10;
}

.progress{
  fill:none;
  stroke:#F4C842;
  stroke-width:10;
  stroke-linecap:round;
  stroke-dasharray:534;
  stroke-dashoffset:534;
  transition:stroke-dashoffset 1s linear;
}

.inside{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#icon{
  font-size:28px;
  margin-bottom:5px;
}

#timer{
  font-size:46px;
  font-weight:bold;
  color:#F4C842;
}

.sec{
  color:#888;
  font-size:12px;
}

#status{
  margin:20px 0;
  color:#ddd;
  min-height:20px;
}

button{
  width:100%;
  padding:15px;
  border:none;
  border-radius:14px;
  background:linear-gradient(#F4D35E,#C89B00);
  color:#111;
  font-size:16px;
  font-weight:bold;
}

button:disabled{
  opacity:.7;
}

.done{
  animation:pop .5s ease;
}

@keyframes pop{
  0%{transform:scale(.3);opacity:0;}
  70%{transform:scale(1.2);}
  100%{transform:scale(1);}
}
