*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#070707;
color:#fff;
}

.container{
max-width:430px;
margin:auto;
padding:18px;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:18px;
}

.live{
color:#b8ff45;
font-size:13px;
}

.session{
background:#1b2411;
color:#cfff4d;
padding:8px 14px;
border-radius:20px;
font-size:11px;
font-weight:bold;
}

.card{
background:linear-gradient(180deg,#161616,#0b0b0b);
border:1px solid #2a351b;
border-radius:24px;
padding:22px;
box-shadow:0 0 30px rgba(180,255,70,.08);
}

.gem{
font-size:55px;
text-align:center;
margin-bottom:8px;
}

.label{
text-align:center;
color:#888;
}

h1{
text-align:center;
font-size:46px;
color:#d8ff59;
margin:8px 0;
}

h1 span{
font-size:22px;
}

.sub{
text-align:center;
color:#777;
font-size:13px;
margin-bottom:20px;
}

.progressBar{
height:8px;
background:#232323;
border-radius:30px;
overflow:hidden;
}

.progress{
width:0%;
height:100%;
background:#cfff4d;
transition:.3s;
}

.row{
display:flex;
justify-content:space-between;
margin:16px 0 12px;
}

.statusBox{
background:#191919;
border-radius:16px;
padding:15px;
display:flex;
align-items:center;
gap:12px;
margin-bottom:18px;
}

.dot{
width:14px;
height:14px;
background:#cfff4d;
border-radius:50%;
box-shadow:0 0 12px #cfff4d;
}

.statusBox p{
font-size:12px;
color:#888;
margin-top:4px;
}

button{
width:100%;
padding:16px;
border:none;
border-radius:15px;
background:#cfff4d;
color:#111;
font-size:16px;
font-weight:bold;
}

button:disabled{
opacity:.75;
}

.reward{
text-align:right;
margin-top:12px;
color:#cfff4d;
font-weight:bold;
}

.success{
display:none;
text-align:center;
}

.tick{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
background:#cfff4d;
color:#111;
font-size:48px;
font-weight:bold;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:16px;
}

.big{
font-size:38px;
font-weight:bold;
color:#d8ff59;
margin:18px 0;
}

.tags span{
display:inline-block;
margin:4px;
padding:8px 14px;
background:#1b2411;
color:#cfff4d;
border-radius:20px;
font-size:12px;
  }
